In [1]:
# import dependencies
import pandas as pd
from pathlib import Path

In [2]:
# path to csv files
passport_data = Path('../Resources/passport_index_tidy.csv')
country_code_data = Path('../Resources/country_code.csv')

# read csv files into dataframes
passport_df = pd.read_csv(passport_data)
country_code_df = pd.read_csv(country_code_data)

In [3]:
# display passport dataframe
passport_df.head()

      Passport          Destination    Requirement
0  Afghanistan              Albania         e-visa
1  Afghanistan              Algeria  visa required
2  Afghanistan              Andorra  visa required
3  Afghanistan               Angola  visa required
4  Afghanistan  Antigua and Barbuda         e-visa

In [4]:
# passport info
passport_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39601 entries, 0 to 39600
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Passport     39601 non-null  object
 1   Destination  39601 non-null  object
 2   Requirement  39601 non-null  object
dtypes: object(3)
memory usage: 928.3+ KB

In [5]:
passport_df.Passport.unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh',
       'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan',
       'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia',
       'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo',
       'DR Congo', 'Costa Rica', 'Ivory Coast', 'Croatia', 'Cuba',
       'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Swaziland', 'Ethiopia',
       'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Korea', 'North Macedonia', 'Norway', 'Oman', 'Pakistan',
       'Palau', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka',
       'Saint Vincent and the Grenadines', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [6]:
passport_df.Destination.unique()

array(['Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda',
       'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan',
       'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus',
       'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei',
       'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon',
       'Canada', 'Cape Verde', 'Central African Republic', 'Chad',
       'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'DR Congo',
       'Costa Rica', 'Ivory Coast', 'Croatia', 'Cuba', 'Cyprus',
       'Czech Republic', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Swaziland', 'Ethiopia',
       'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia',
       'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq',
       'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait',
       'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia',
       'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macao',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria',
       'North Korea', 'North Macedonia', 'Norway', 'Oman', 'Pakistan',
       'Palau', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
       'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia',
       'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka',
       'Saint Vincent and the Grenadines', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkmenistan', 'Tuvalu', 'Turkey', 'Uganda', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela',
       'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe', 'Afghanistan'],
      dtype=object)

In [7]:
print(passport_df.Requirement.nunique())
passport_df.Requirement.unique()

22

array(['e-visa', 'visa required', 'visa on arrival', '21', '90', '30',
       '-1', '180', '28', 'visa free', '360', '14', '60', '42', '15',
       '240', '120', 'no admission', '10', '45', '7', '31'], dtype=object)

In [8]:
passport_df.Requirement.value_counts()

Requirement
visa required      14145
90                  7702
e-visa              6674
visa on arrival     5937
visa free           1864
30                  1695
180                  648
-1                   199
120                  115
21                   106
14                   104
60                    98
360                   96
15                    65
42                    60
no admission          30
28                    23
240                   15
45                    14
10                     6
7                      4
31                     1
Name: count, dtype: int64

In [9]:
print(passport_df.Passport.nunique())
print(passport_df.Destination.nunique())
print(country_code_df.Name.nunique())

199
199
250

In [10]:
country_code_df.head()

             Name Code
0     Afghanistan   AF
1   Åland Islands   AX
2         Albania   AL
3         Algeria   DZ
4  American Samoa   AS

# Merge countries with country codes

In [11]:
merge1 = pd.merge(passport_df, country_code_df, left_on='Passport', right_on='Name', how='left')
merge1.rename(columns={'Code': 'passport_code'}, inplace=True)
merge2 = pd.merge(merge1, country_code_df, left_on='Destination', right_on='Name', how='left')
merge2.rename(columns={'Code': 'destination_code'}, inplace=True)
merge_df = merge2[['Passport', 'passport_code', 'Destination', 'destination_code', 'Requirement']]
merge_df.head()

,Passport,passport_code,Destination,destination_code,Requirement
0,Afghanistan,AF,Albania,AL,e-visa
1,Afghanistan,AF,Algeria,DZ,visa required
2,Afghanistan,AF,Andorra,AD,visa required
3,Afghanistan,AF,Angola,AO,visa required
4,Afghanistan,AF,Antigua and Barbuda,AG,e-visa

In [12]:
merge_df_need_change = merge_df.loc[merge_df.passport_code.isnull(),'Passport'].unique()
print(len(merge_df_need_change))
print(merge_df_need_change)

1
['Namibia']

In [13]:
merge_df_need_change = merge_df.loc[merge_df.destination_code.isnull(),'Destination'].unique()
print(len(merge_df_need_change))
print(merge_df_need_change)

1
['Namibia']

In [15]:
merge_df = merge_df.fillna('NA')

In [16]:
merge_df_need_change = merge_df.loc[merge_df.passport_code.isnull(),'Passport'].unique()
print(len(merge_df_need_change))
print(merge_df_need_change)

0
[]

In [17]:
merge_df.head()

,Passport,passport_code,Destination,destination_code,Requirement
0,Afghanistan,AF,Albania,AL,e-visa
1,Afghanistan,AF,Algeria,DZ,visa required
2,Afghanistan,AF,Andorra,AD,visa required
3,Afghanistan,AF,Angola,AO,visa required
4,Afghanistan,AF,Antigua and Barbuda,AG,e-visa

# export to csv

In [18]:
merge_df.to_csv('../Resources/merge_df.csv')